1_yeast_modeling/FPA/input/YeastJoshua/distanceMatrix.txt
1_yeast_modeling/FPA/input/YeastJoshua/distanceMatrix_weighted.txt
1_yeast_modeling/FPA/modeling/output/fine_titration/
1_yeast_modeling/FPA/modeling/output/fine_titration_simDecay/
2_C_elegans_modeling/FPA/C.elegansTissue_dataset/newFPA/input/distanceMatrix_weighted.txt
3_human_modeling/2_FPA/distance_inputs/iHuman1/Smatrix_regular.txt
3_human_modeling/2_FPA/humanTissue_MERGE/input/distanceMatrix.txt
3_human_modeling/2_FPA/humanTissue_MERGE/input/distanceMatrix_weighted.txt
3_human_modeling/2_FPA/humanTissue_MERGE/input/suppTbls/1-s2.0-S0092867420310783-mmc3.xlsx
**/*.DS_Store
**/*.Rhistory
1_yeast_modeling/FPA/modeling/.Rproj.user/
3_human_modeling/2_FPA/humanTissue_MERGE/.Rproj.user/
**/NoTrack_*
1_yeast_modeling/FPA/modeling/output/randomization/
1_yeast_modeling/FPA/modeling/output/randomization_simpleDecay/
.Rproj.user
